.windowSize {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 12px;
	width: 100%;
	margin: 24px 0;
}

.windowSize__badge {
	padding: 8px;
	background-color: var(--blueGray50);
}
