/* NAV3 */

.nav3 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 24px;
	background-color: var(--blueGray200);
}

.nav3__logo {
	font-size: var(--fontSize6);
	font-weight: var(--black);
}

.nav3__menu {
	display: flex;
	align-items: center;
	gap: 12px;
}

.side {
	align-items: flex-start;
	flex-direction: column;
	padding: 96px 24px 24px 32px;
	background-color: var(--blueGray100);
	width: 240px;
	height: 100vh;
	position: fixed;
	top: 0;
	right: 0;
}

.nav3__menu__item {
	text-decoration: none;
	font-size: var(--fontSize6);
	color: var(--blueGray900);
}

.nav3__menuBtn {
	display: none;
}

@media screen and (max-width: 1024px) {
	.nav3__menuBtn {
		width: 40px;
		height: 40px;
		display: grid;
		place-items: center;
		font-size: var(--fontSize5);
		border: none;
		cursor: pointer;
		background-color: var(--blueGray50);
		z-index: 1;
	}
}
