@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@500;700&display=swap");

:root {
	/* MATERIAL PALLETTE COLORS https://www.materialpalette.com/colors */
	--blueGray50: #eceff1;
	--blueGray100: #cfd8dc;
	--blueGray200: #b0bec5;
	--blueGray300: #90a4ae;
	--blueGray400: #78909c;
	--blueGray500: #607d8b;
	--blueGray600: #546e7a;
	--blueGray700: #455a64;
	--blueGray800: #37474f;
	--blueGray900: #263238;

	/* FONT WEIGHT */
	--black: 900;
	--bold: 700;
	--regular: 400;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: #263238;
	margin: 0;
	font-family: "Lato", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
