/* SWITCHNAV */

.switchnav {
	display: flex;
	gap: 12px;
	justify-content: center;
}

.switchnav__btn {
	background-color: var(--blueGray900);
	border: none;
	color: white;
	padding: 12px 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
}
