/* NAV */

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 80px;
	padding: 0 24px;
	position: relative;
	background-color: var(--blueGray200);
}

.nav__list {
	display: flex;
	gap: 24px;
	list-style-type: none;
}

.nav__menuIcon {
	display: none;
	width: 40px;
	height: 40px;
	font-size: 1.25rem;
	background-color: var(--blueGray50);
	cursor: pointer;
}

.nav__logoContainer__logoTitle {
	font-size: 1.1rem;
	font-weight: var(--black);
}

.nav__list__item__link {
	color: var(--blueGray900);
	text-decoration: none;
	font-weight: bold;
}

@media screen and (max-width: 1024px) {
	.nav__list {
		display: none;
	}

	.nav__list__active {
		display: flex;
		flex-direction: column;
		gap: 24px;
		position: absolute;
		/* top: 68px; */
		top: 0;
		right: 24px;
		list-style-type: none;
		padding: 24px 64px 24px 24px;
		background-color: var(--blueGray100);
		opacity: 0;
		z-index: 1;
	}

	.nav__menuIcon {
		display: grid;
		place-items: center;
	}
}
