/* NAV */

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 24px;
	background-color: var(--blueGray200);
}

.nav__logoContainer {
	display: flex;
	align-items: center;
	gap: 12px;
}

.nav__logoContainer__logo {
	font-size: var(--fontSize6);
	font-weight: var(--black);
}

.nav__logoContainer__link {
	font-size: var(--fontSize5);
	color: var(--blueGray700);
}

.nav__list {
	display: flex;
	gap: 24px;
	list-style-type: none;
}

.nav__list__item__link {
	color: var(--blueGray900);
	text-decoration: none;
}

.nav__list__active {
	display: flex;
	flex-direction: column;
	gap: 24px;
	position: fixed;
	top: 68px;
	right: 24px;
	list-style-type: none;
	padding: 24px;
	width: 160px;
	z-index: 1;
	background-color: var(--blueGray100);
}

.nav__menuBtn {
	display: none;
}

@media screen and (max-width: 1024px) {
	.nav__menuBtn {
		display: grid;
		place-items: center;
		width: 40px;
		height: 40px;
		font-size: 1.25rem;
		background-color: var(--blueGray50);
		cursor: pointer;
	}
}
